p.author:hover {
  cursor: pointer;
}
button.update {
  float: right;
}
button.update:hover {
  cursor: pointer;
}
textarea {
  min-height: 150px;
  resize: none;
}
form.comment {
  margin-bottom: 80px;
}
small.comment-author:hover {
  cursor: pointer;
}
div.page-buttons {
  text-align: center;
  width: 100%;
}
button.comment-update {
  float: right;
}
button.comment-update:hover {
  cursor: pointer;
}
button.page-button:hover {
  cursor: pointer;
}
