section {
  margin-top: 20px;
}
label {
  display: block;
  color: grey;
}
p {
  background-color: lightgrey;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
h4.card-title {
  height: 70px;
}
p.card-text {
  height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.comments:hover {
  cursor: pointer;
}
button.update {
  float: right;
}
button.update:hover {
  cursor: pointer;
}
